body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
}

#mensajeError {
  color: red;
}

#busqueda {
  margin-bottom: 15px;
}

#inputCarrera {
  padding: 6px;
  font-size: 14px;
  width: 250px;
  margin-right: 15px;
}

#contador {
  font-size: 14px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #eaeaea;
}
