body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

#mensajeError {
  color: #555;
  font-size: 18px;
}

#filtroCarrera {
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #eee;
}
